<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appointment Exists Confirmation</title>
</head>
<body>
    <h1>Appointment Exists Confirmation</h1>
    
    <p th:text="${message}"></p>
    
    <h2>Existing Appointments:</h2>
    <ul>
        <li th:each="appointment : ${existingAppointments}">
            <span th:text="${appointment.name}"></span> - <span th:text="${appointment.appointmentDate}"></span>
        </li>
    </ul>
    
    <p>Name: <span th:text="${name}"></span></p>
    <p>Email: <span th:text="${email}"></span></p>
    <p>Message: <span th:text="${message}"></span></p>
    <p>Appointment Date: <span th:text="${appointmentDate}"></span></p>
    
    <p>Do you want to book another appointment?</p>
    <form action="/appointment/addConfirmation" method="get">
        <input type="hidden" name="name" th:value="${name}" />
        <input type="hidden" name="email" th:value="${email}" />
        <input type="hidden" name="message" th:value="${message}" />
        <input type="hidden" name="appointmentDate" th:value="${appointmentDate}" />
        <button type="submit">Yes</button>
    </form>
    
    <a href="/">No, Go to Home</a> 
    

</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Appointment Exists Confirmation</h1>
    <!-- <p>Hello</p> -->
    <p th:text="${description}"></p>
    
    <h2>Existing Appointments:</h2>
    <ul>
        <!-- <span th:each="appointment : ${existingAppointments}">
            <li th:text="${appointment.username}"></li>
        </span> -->
        <li th:each="appointment : ${existingAppointments}">
            <span th:text="${appointment.username}"></span> - <span th:text="${appointment.appointmentDate}"></span>
        </li>
    </ul>
    
    <p>Name: <span th:text="${name}"></span></p>
    <p>Email: <span th:text="${email}"></span></p>
    <p>Message: <span th:text="${message}"></span></p>
    <p>Appointment Date: <span th:text="${appointmentDate}"></span></p>
    
    <p>Do you want to book another appointment?</p>
    <form action="/appointments/addConfirmation" method="post">
        <input type="hidden" name="name" th:value="${name}" />
        <input type="hidden" name="email" th:value="${email}" />
        <input type="hidden" name="description" th:value="${description}" />
        <input type="hidden" name="appointmentDate" th:value="${appointmentDate}" />
        <button type="submit">Yes</button>
    </form>
    
    <a href="/">No, Go to Home</a> 
</body>
</html>