body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: rgba(17, 24, 39, 1); */
  background-color: rgba(17, 24, 39, 1);
}

.title {
  text-align: center;
  font-size: 2.5rem;
  line-height: 0rem;
  font-weight: 700;
  color: rgba(243, 244, 246, 1);
}

.form {
  width: 320px;
  border-radius: 0.75rem;
  background-color: rgba(17, 24, 39, 1);
  color: rgba(243, 244, 246, 1);
  margin-bottom: 30px;
}

.input-group {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
  margin: 8px 0 14px 0;
}

.forgot a, .account a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover, .account a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
  width: 111%;
  background-color: rgba(167, 139, 250, 1);
  padding: 0.75rem;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  margin-top: 1.5rem; 
  transition: transform 0.3s ease; 
}

.sign:hover {
  transform: scale(1.05);
}

.account {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}

