<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <nav class="top-nav">
      <a href="/html/home.html">Home</a>
      <a href="/html/schedule.html">Schedule Appointment</a>
      <a href="/html/feedbackForm.html">Update</a>
      <a href="/login">Sign In</a>
    </nav>
  </head>
  <body>
    <div class="form-container">
      <p class="title">Sign In</p>
      <form class="form" action="/login" method="post">
        <div class="input-group">
          <label for="name">Email: </label>
          <input type="text" id="email" name="email">
        </div>
        <div class="input-group">
          <label for="name">Password: </label>
          <input type="password" id="password" name="password">
        </div>
        <div class="submit">
          <input class="sign" type="submit" value="Sign in"></input>
        </div>
      </form>
      <p class="account">Don't have an account?
        <a rel="noopener noreferrer" href="/html/signup.html" class="">Sign Up</a>
      </p>
    </div>
  </body>
</html>
