<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
  </head>

  <nav>
  </nav>

  <body>
    <h1>All Users</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
      <tr>

       <tr th:each="user:${usrs}">
         <td th:text="${user.username}"></td>
         <td th:text="${user.email}"></td>
         <td th:text="${user.password}"></td>
       </tr>
    </table>

  </body>
</html>
