<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
  </head>

  <nav>
  </nav>

  <body>
    <h1>All Users</h1>
    <!-- <table>
      <tr>
        <th>Name</th>
        <th>Weight</th>
        <th>Height</th>
        <th>Hair Color</th>
        <th>GPA</th>
        <th>Enrollment Year</th>
        <th>Major</th>
      <tr>

       <tr th:each="stdnt:${stu}">
         <td th:text="${stdnt.name}"></td>
         <td th:text="${stdnt.weight}"></td>
         <td th:text="${stdnt.height}"></td>
         <td th:text="${stdnt.haircolor}"></td>
         <td th:text="${stdnt.gpa}"></td>
         <td th:text="${stdnt.enrollmentyear}"></td>
         <td th:text="${stdnt.major}"></td>
         <td> <a th:href="@{/students/viewStudent?sid={sid}(sid=${stdnt.sid})}">Edit</a>  </td>
       </tr>
    </table> -->

  </body>
</html>
