<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> -->
    <nav class="top-nav">
      <a href="/">Home</a>
      <a href="/bookAppointment">Schedule Appointment</a>
      <a href="/html/feedbackForm.html">Update</a>
      <a href="/login">Sign In</a>
    </nav>
  </head>
  <body>
    <h1>Profile Updated</h2>
    <a href="/login">Go to Account</a>

  </body>
</html>
